# Airtable API Personal Access Token (PAT)
AIRTABLE_API_KEY=patOBU3CBkL0250hw.bb98...

# Airtable Target Base ID
AIRTABLE_BASE_ID=appXXXXXXXXXXXXXX

# Airtable Table Names
AIRTABLE_PRODUCTS_TABLE=Products
AIRTABLE_CATEGORIES_TABLE=Categories
AIRTABLE_ATTRIBUTES_TABLE=Attributes
